@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 /* pour créer un commentaire ctrl + : */

html {
    font-family: "Poppins", serif;
}

header {
    position: 0;
    background-color:rgb(201, 100, 50);
    color: rgb(245, 245, 220);
    display: flex;
    align-items: center;
}

body {
    background-color:#f3c48ed7;
}


.logo a {
    text-decoration: none;
    color: rgb(245, 245, 220);
}

.menu {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}


.menu li {
    margin: 0 25px;
}

.menu li a {
    color: beige;
    text-decoration: none;
}

.menu li a:hover{
    text-decoration: underline;
}

.menu li a::before{
    text-decoration: underline;
}


.logo {
    margin: 0 15px
}



#gallery {
    height: calc(100vh - 50px);
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

#gallery .a {
    color:rgb(0, 0, 0);
    font-size: x-large;
    margin-left: 3%;
    margin-top: 2%;
}

#gallery .b {
    width: 40%;
}

#gallery .Desert{
    position: absolute;
    margin-top: 135px;
    margin-left:88%;
    z-index: 2;
    animation: spin 10s linear infinite;
}

#gallery .image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}


@keyframes spin {
    100% { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}

@keyframes spin2 {
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

#gallery .gris{
    position: absolute;
    margin-top: 90px;
    margin-left:85%;
    z-index: 1;
    animation: spin2 10s linear infinite;
}

#gallery .image2 {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}


#gallery .b {
    color:rgb(0, 0, 0);
    font-size: larger;
    margin-left: 3%;
    margin-top:5px;
}

.separateur {
    height: 3px;
    background-color: rgb(201, 100, 50);
    width: 100%;
    margin: 20px 0;
}

.separateur-album {
    height: 5px;
    background-color: rgb(201, 100, 50);
    width: 165px;
    margin-left: 1.75%;
}

.separateur-1 {
    height: 5px;
    background-color: rgb(201, 100, 50);
    width: 250px;
    margin-left: -100px;
}

.separateur-2 {
    height: 5px;
    background-color: rgb(201, 100, 50);
    width: 175px;
    margin-left: 40%;
}

.title-category {
    text-align: center;
}

input:not(input[type="submit"]), textarea {
    border:none;
    border-bottom: 2px solid rgb(201, 100, 50);
    resize: none;
    outline: none;
    font-family: "Montserrat";
    width: 30vw;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #00000000;
}

label {
    margin-bottom: 10px;
    color:black;
    font-weight: 600;
    font-size: 20px;
}

.form-top {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

.form-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-left>div * {
    display: block;
}

.form-right * {
    display: block;
}

.from-contact input[type="submit"]:hover {
    transform: translateY(-5px);
}

.form-contact input[type="submit"] {
    background-color: rgb(201, 100, 50);
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    font-family: "Monserrat";
    box-shadow: 0px 0px 5px rgb(0,0,0,0.5);
    margin-bottom: 80px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.commentaire {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.commentaire-pp {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.commentaire-text {
    margin-left: 20px;
    font-size: large;
}

.commentaire-text p {
    text-align:justify;
}

footer {
    height: 80px;
    position: relative;
    background-color: #c96432;
}

footer h2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);/* permet de le ressentrer car sinon c'est le coin en haut à gauche qui est centrer*/
    color: #000000;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgb(201, 100, 50);
    top: 0;
    transition: top 0.5s ease-in-out;
}

.loader p {
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



@media screen and (max-width: 1100px) {
    #gallery .b {
        font-size: large;
    }

    #gallery .Desert .image {
        width: 350px;
        height: 350px;
    }

    #gallery .gris .image2 {
        width: 450px;
        height: 450px;
    }

    input:not(input[type="submit"]), textarea {
        width: 25vw;
        margin-bottom: 17px;
        font-size: 17px;
    }

    .form-contact input[type="submit"] {
        font-weight: 550;
        font-size: 20px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 700px) {
    #gallery .b {
        font-size: medium;
        
    }

    #gallery .Desert {
        margin-top: 115px;
        margin-left: 9;
    }

    #gallery .Desert .image{
        width: 220px;
        height: 220px;
    }

    #gallery .gris {
        margin-left: 82%;
    }

    #gallery .gris .image2 {
        width: 275px;
        height: 275px;
    }

    /* aligner les photos sous le text */
    input, textarea {
        font-size: 16px;
    }

    /* on peu faire passer les éléments de contact en column pour gagner en clarté */
    .form-top{
        flex-direction: column;
        width: 100%;
    }

    input:not(input[type="submit"]), textarea {
        width: 100%;
    }

    .form-top label {
        text-align: center;

    }

    .commentaire-text {
        font-size: medium;
    }
    /* ajouter le centrage sous e-mail du envoyer */

    footer h2 {
        font-size: medium;
        top: 35%;
        transform: translate(-50%, -50%);

    }
}

.success-message {
    font-size: large;
    font-weight: bold;
    text-align: center;
}




